
/*Variables globales : Pallette de couleur*/
:root {
    --color-main: rgb(3, 19, 37);
    --color-second: rgb(19, 68, 117);
    --color-accent: rgb(87, 80, 72);
    --color-neutral-main: rgb(252, 252, 246);
    --color-neutral-second: rgb(247, 237, 216);
    --color-neutral-accent: rgb(255, 221, 10);
}

@font-face {
    font-family: ProximaNova;
    src: url(font/ProximaNova.ttf);
}

@font-face {
    font-family: HolmenRegular;
    src: url(font/HolmenRegular.ttf);
}

body {
    margin: 0;
    font-size: 28px;
    background-color: var(--color-neutral-main);
    font-family: 'ProximaNova', Georgia, sans-serif;
    overflow-x: hidden;
}

header {
    background-color: var(--color-main);
    color: var(--color-neutral-second);
    padding: 0px;
    margin: 0;
    text-align: center;
}

header img {
    width: 100%;
}

.white{
    color : var(--color-neutral-main);
}

/* Style the navbar */
#navbar {
    background-color: var(--color-neutral-main);
    width: 100%;
}

/* Navbar links */
#navbar a{
    float: left;
    display: block;
    color: var(--color-main);
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border: solid 1px var(--color-neutral-main);
}

.dropdown .dropbtn{
    float: right;
    display: block;
    font-family: 'ProximaNova', Georgia, sans-serif;
    color: var(--color-main);
    background-color: var(--color-neutral-main);
    text-align: right;
    padding: 14px;
    text-decoration: none;
    border: solid 1px var(--color-neutral-main);
}

#navbar a:hover,
.dropdown:hover{
    background-color: var(--color-main);
    color: var(--color-neutral-main);
    border: solid 1px var(--color-neutral-accent);
}

#navbar a.active {
    background-color: var(--color-main);
    color: var(--color-neutral-second);
    border: solid 1px var(--color-main);
}

#navbar a.active:hover {
    border: solid 1px var(--color-neutral-accent);
}


.dropdown {
    float: right;
}

.dropdown .dropbtn {
    font-size: 28px;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 260px;
    background-color: var(--color-neutral-main);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 10;
    right: 10px;
}

.dropdown-content a {
    clear:both;
    margin: 0;
    width: 89%;
    text-decoration: none;
    display: block;
    text-align: right;
}


.dropdown:hover .dropdown-content {
    margin: 0;
    display: block;
}


/* Page content */
.content {
    padding: 0;
    margin-top: 75px;
}

h1,h2,h3,h4,h5,h6{
    font-family: 'HolmenRegular', Georgia, sans-serif;
    color: var(--color-main);
}

div.presentation{
    position: relative;
}

.presentation-text{
    display: table-cell;
    position: absolute;
    top: 50%;
    transform: translate(0,-50);
}
.presentation-image{
    margin: 0;
    padding: 0;
    width: 60vw;
    display: block;
}

.tg  {
    border-collapse:collapse;
    border-spacing:0;
    table-layout: fixed;
    width: 100vw;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
}

.tg td{
    overflow:hidden;
    word-break:normal;
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    border-collapse: collapse;
    outline: none;
}

.tg th{
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
    border-collapse: collapse;
    outline: none;
}

.tg .tg-texte{
    width: 40vw;
    vertical-align: middle;
    border: none;
    outline: none;
}

td.tg-texte > h3{
   width: 90%;
}

td.tg-texte > a{
    color: var(--color-main);
    display: inline-block;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    border: solid 1px var(--color-main);
    transition-duration: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: transparent;
    font-size: 0.9em;
    word-wrap: normal;
}

td.tg-texte > a:hover{
    color: var(--color-neutral-main);
    background-color: var(--color-main);
    border: solid 1px var(--color-neutral-accent);
}

.img-container {
    position: relative;
    text-align: center;
    color: var(--color-second);
}
.text-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-show {
    display: none;
}

@media screen and (max-width: 768px) {
    .mobile-show {
        display: block;
    }
    .mobile-hidden {
        display: none;
    }
    .presentation-mobile{
        width: 100vw;
    }
    .button-mobile{
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        border: solid 1px var(--color-neutral-main);
        transition-duration: 0.5s;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        background: transparent;
        font-size: 0.9em;
        word-wrap: normal;
    }
    .button-mobile:hover{
        color: var(--color-neutral-main);
        background-color: var(--color-main);
        border: solid 1px var(--color-neutral-accent);
    }
}



/* The sticky class for navbar with Javascript */
.sticky {
    position: fixed;
    top: 0;
    width: 100%
}


/*footer*/
footer{
    background-color: var(--color-main);
    padding: 10px 15px;
}

.footer-link{
    color: var(--color-neutral-second);
    text-decoration: none;
    float: right;
}

.footer-logo{
    vertical-align: middle;
    height: 32px;
}

.contact-form-item{
    width: 49.25%;
    display: inline-block;
}

.label-contact{
    display: block;
}

.input-contact{
    width: 100%;
    height: 30px;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
}

.textarea-contact{
    width: 100%;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 15px;
    display: inline-block;
    resize: vertical;
}

.contact-content{
    width: 70%;
    padding: 0 15%;
}